@model SearchViewModel

    <div class="search-names-container">
        <p class="search-names-item">EVERGREEN</p>
        <p class="search-names-item">GreenTerra</p>
        <p class="search-names-item">Dommelochi</p>
        <p class="search-names-item">Max Christmas</p>
        <p class="search-names-item">NTC</p>
        <p class="search-names-item">Nordic Collection</p>
        <p class="search-names-item">GrandSITI</p>
        <p class="search-names-item">Matpol</p>
        <p class="search-names-item">Natural</p>
        <p class="search-names-item">Adal</p>
        <p class="search-names-item">Christmas Tree</p>
        <p class="search-names-item">Kaemingk</p>
        <p class="search-names-item">Matpol</p>
        <p class="search-names-item">Смерека</p>
    </div>

<form class="search-form" method="post">
    <div class="search-form-container">
        <div class="search-form-input-container">
            <input asp-for="@Model.Text" class="search-form-input" id="TextSearchInput" placeholder="Поиск товара" />
        </div>
        <div class="search-form-button-container">
            <button class="button search-form-button" id="ApplyTextSearchButton"> Найти </button>
        </div>
    </div>
</form>

@foreach (var item in Model.trees)
{
    <div class="slider-element">
        <img src="@item.img" class="slider-element-photo" alt="@item.name" />
        <div class="slider-description-container">
            <p class="slider-description">@item.shortDesc</p>
        </div>
        <div class="slider-other-info">
            <h3 class="slider-element-title">@item.name</h3>
            <p class="slider-price">Цена: @item.price BYN</p>
            <form class="slider-button-container" action="">
                <button class="button slider-element-button" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@item.id">Добавить в корзину</button>
            </form>
        </div>
    </div>
}



